{% extends 'avo_business/base3.html.twig' %}


{% block body %}

	<!-- /Navigation-->
	<div class="content-wrapper">
		<div
			class="container-fluid">
			<!-- Breadcrumbs-->
			<ol dir="rtl" class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="avobusiness/#">الحجوزات</a>
				</li>

			</ol>
			<div class="box_generalaov text-right">
				<div class="header_box">
					<h2 class="d-inline-block">قائمة الحجوزات</h2>
				</div>
				<div class="list_general" id="rendezvous">
					{% for key in ListRendezVous %}
						<ul>
							<li>
                                    <i class=									
									{% if key.status	== "Approved" %}
											Approved
										{% else %}
                                         pending
										{% endif %}>

									{% if key.status	== "Approved" %}
											تمت الموافقة
										{% else %}

											قيد الإنتظار
										{% endif %}
                                    </i>
									
								</strong>
								<ul class="booking_details">
								
									<li>
										<strong>  : اسم العميل</strong>
										{{key.iduser.nom}}
									{{key.iduser.prenom}}</li>
										
									<li>
                                        
									<li>
										<strong>  : اليوم</strong>
										{{key.date|date("20y/m/d")}}</li>
										
									<li>
										<strong>الساعة</strong>
										{{key.date|date("H:i")}}</li>
										
									<li>
										<strong>:نوع الزيارة</strong>
										استشارة قانونية</li>
										<strong>:  الهاتف</strong>
									<li>
										
										{{key.iduser.telephone}}</li>
										<strong>البريد الإلكتروني</strong>
									<li>
										
										{{key.iduser.email}}</li>
								</ul>
								<ul class="buttons">
									<li>
										<a class="btn_1 gray approve" onclick="UpdateRendezvous({{key.id}})">
											<i class="fa fa-fw fa-check-circle-o"></i>
											تأكيد</a>
									</li>
									<li>
										<a class="btn_1 gray delete" onclick="CancelRendezvous({{key.id}})">
											<i class="fa fa-fw fa-times-circle-o"></i>
											إلغاء</a>
									</li>
								</ul>
							</li>
						</ul>
					{% endfor %}

				</div>
			</div>
			<!-- /box_general-->

			<!-- /pagination-->
		</div>
		<!-- /container-fluid-->
	</div>
	<!-- /container-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Copyright © AvoConsulte Inc. 2021</small>
			</div>
		</div>
	</footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="avobusiness/#page-top">
		<i class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="avobusiness/vendor/jquery/jquery.min.js"></script>
	<script src="avobusiness/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="avobusiness/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Page level plugin JavaScript-->
	<script src="avobusiness/vendor/chart.js/Chart.min.js"></script>
	<script src="avobusiness/vendor/datatables/jquery.dataTables.js"></script>
	<script src="avobusiness/vendor/datatables/dataTables.bootstrap4.js"></script>
	<script src="avobusiness/vendor/jquery.selectbox-0.2.js"></script>
	<script src="avobusiness/vendor/retina-replace.min.js"></script>
	<script src="avobusiness/vendor/jquery.magnific-popup.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="avobusiness/js/admin.js"></script>
	<script>
		function UpdateRendezvous(id) {
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function () {
if (this.readyState == 4 && this.status == 200) {
document.getElementById("rendezvous").innerHTML = this.responseText;
}
};
xmlhttp.open("GET", "/avobusiness/rendez-vous/" + id, true);
xmlhttp.send();

}
function CancelRendezvous(id) {
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function () {
if (this.readyState == 4 && this.status == 200) {
document.getElementById("rendezvous").innerHTML = this.responseText;
}
};
xmlhttp.open("GET", "/avobusiness/rendez-vous/c/" + id, true);
xmlhttp.send();

}
	</script>
</body></html>{% endblock %}{% block footer %}{% endblock %}
