<div class="box_generalaov text-right">
				<div class="list_general" id="rendezvous">
					{% for key in ListRendezVous %}
						<ul>
							<li>
                                   <i class=									
									{% if key.status	== "Approved" %}
											Approved
										{% else %}
                                         pending
										{% endif %}>

									{% if key.status	== "Approved" %}
											تمت الموافقة
										{% else %}

											قيد الإنتظار
										{% endif %}
                                    </i>
								</strong>
								<ul class="booking_details">
								
									<li>
										<strong>  : اسم العميل</strong>
										{{key.iduser.nom}}
									{{key.iduser.prenom}}</li>
										
									<li>
                                        
									<li>
										<strong>  : اليوم</strong>
										{{key.date|date("20y/m/d")}}</li>
										
									<li>
										<strong>الساعة</strong>
										{{key.date|date("H:i")}}</li>
										
									<li>
										<strong>:نوع الزيارة</strong>
										استشارة قانونية</li>
										<strong>:  الهاتف</strong>
									<li>
										
										{{key.iduser.telephone}}</li>
										<strong>البريد الإلكتروني</strong>
									<li>
										
										{{key.iduser.email}}</li>
								</ul>
								<ul class="buttons">
									<li>
										<a class="btn_1 gray approve" onclick="UpdateRendezvous({{key.id}})">
											<i class="fa fa-fw fa-check-circle-o"></i>
											تأكيد</a>
									</li>
									<li>
										<a class="btn_1 gray delete" onclick="CancelRendezvous({{key.id}})">
											<i class="fa fa-fw fa-times-circle-o"></i>
											إلغاء</a>
									</li>
								</ul>
							</li>
						</ul>
					{% endfor %}

				</div>
			</div>