{% for key in ListRendezVous %}
				<ul>
					<li>
						<h4>Enzo Ferrari <i class="pending">Pending</i></h4>
						<ul class="booking_details">
            
							<li><strong>date</strong> {{key.date|date("j M Y")}}</li>
							<li><strong>time</strong> {{key.date|date("H:i")}}</li>
							<li><strong>Visits</strong> consultation juridique</li>
							<li><strong>Telephone</strong> {{key.iduser.telephone}}</li>
							<li><strong>Email</strong> {{key.iduser.email}}</li>
						</ul>
						<ul class="buttons">
							<li><a class="btn_1 gray approve" onclick="UpdateRendezvous({{key.id}})"><i class="fa fa-fw fa-check-circle-o" ></i> Approve</a></li>
							<li><a  class="btn_1 gray delete" onclick="UpdateRendezvous({{key.id}})"><i class="fa fa-fw fa-times-circle-o" ></i> Cancel</a></li>
						</ul>
					</li>
				</ul>
        {% endfor %}