{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="ar">

<head>
   
<script type="text/javascript">
  
_atrk_opts = { atrk_acct:"BFDww1WyR620WR", domain:"avoconsulte.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=BFDww1WyR620WR" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2DZKVP');</script>
<!-- End Google Tag Manager -->
<!-- <link rel="alternate" hreflang="fr" href="https://www.avoconsulte.com/fr/" /> -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194184846-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-194184846-1');
</script>
<script data-ad-client="ca-pub-8304999942476168" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <base href="/">

  

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" AvoConsulte.com - ارقام هواتف محامين في تونس  - ابحث واعثر على أفضل المحامين في تونس واحجز موعدك عبر الإنترنت">
<meta name="keywords" content="جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي, 
onat, onat tunisie, ordre des avocats, ordre national des avocats, الفرع الجهوي للمحامين بتونس ,المحاماة , ارقام هواتف محامين في تونس ,استشارات قانونية عقارية تونس , نور الدين بن عياد 
,استشارات قانونية في الطلاق تونس ,  avocats , avocat , Avocat Tunisie , Avocat En Tunisie ,
 Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avocat,
محامون ، محامي ، محام تونسي ، محامي تونس ، محكمة تونس ، محامي تونسي ، محامون تونس 
، نقابة المحامين التونسية 
، ديوان دافو ,جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي">
<meta property="og:url" content="https://www.avoconsulte.com/">
<meta property="og:type" content="website">
<meta property="og:title" content=" ارقام هواتف محامين في تونس - ابحث واعثر على أفضل محام في تونس واحجز موعدك عبر الإنترنت ">
<meta property="og:description" content="اعثر بسرعة على محامٍ  بالقرب منك وحدد موعدًا مجانًا عبر الإنترنت ببضع نقرات! دليل المحامين التونسيين AvoConsulte.com">
<meta property="og:image" content="https://www.avoconsulte.com/img/avoconsulte_com_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="avoconsulte.com">
<meta property="twitter:url" content="https://www.avoconsulte.com/">
<meta property="og:title" content=" ارقام هواتف محامين في تونس - ابحث واعثر على أفضل محام في تونس واحجز موعدك عبر الإنترنت ">
<meta property="og:description" content="اعثر بسرعة على محامٍ  بالقرب منك وحدد موعدًا مجانًا عبر الإنترنت ببضع نقرات! دليل المحامين التونسيين AvoConsulte.com">
<meta name="twitter:image" content="https://www.avoconsulte.com/img/avoconsulte_com_logo.png">
	<meta name="author" content="Avoconsulte">
	
<title>AvoConsulte -  احجز موعدك عبر الإنترنت - ارقام هواتف محامين في تونس</title>
<!-- Favicons-->
	<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">
    
    <!-- GOOGLE WEB FONT -->
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap' crossorigin="anonymous"/>
    
	<!-- BASE CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="../css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
<!--	<link href="../css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'"> -->
	<link rel='preload'  as="font" href="../css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
    <link href="../css/blog.css" rel="stylesheet" media="print" onload="this.media='all'">
    <!-- SPECIFIC CSS -->
    <link href="../css/date_picker.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
    
	<!-- YOUR CUSTOM CSS -->
	<link href="../css/custom.css" rel="stylesheet">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>

<body>
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
    <!-- 	<div id="preloader">
		<div data-loader="circle-side"></div>
	    </div> -->
    
         <header class="header_sticky" dir="rtl">
		<div class="container" >
			<div class="row">
				<div class="col-lg-2 col-6">
					<div id="logo_home">
						<a href="/" title="AvoConsulte"></a>
					</div>
				</div>
				<nav class="col-lg-10 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>

					<div class="main-menu">
						<ul>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/" >الصفحة الرئيسية</a>
							</li>
                            <li class="submenu"  class="icon-down-open-mini">
								<a href="/استشارات-قانونية/" >استشارات قانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
									<a href="/المجلة-القانونية/">المجلة القانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/من-نحن/" >من نحن ؟</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/اتصل-بنا/" >اتصل بنا</a>
							</li>
							<li class="thin"  class="icon-down-open-mini">
							   <a href="#"  class="thin"  >  اللغة ▼</a>
  							<ul>
							 <li><a href="/fr/" >Français</a></li>
						     <li><a href="/" >العربية</a></li>
							</ul>
							</li>
							
						</ul>
						
					</div>
					
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->
	
	<main>
		<div id="results">
			<div class="container">
			    <form method="POST" action="/محامون/">
				<div class="row">
				    <div class="col-md-3 " id="custom-search-input">
							<div class="checkboxes">
								<label class="container_check"> مسجل &nbsp;     
								        	<input type="checkbox" >
									<span class="checkmark"></span>
								</label>
							</div>
				    </div>
				    <div class="col-md-2 " id="custom-search-input">
					    <div class="input-group">
							<select name="tribunal" class="search-drop-avo " >
							    <option value="" >المحكمة </option>
{% if t =="الإبتدائية" %}   <option value="الإبتدائية" selected >الإبتدائية </option>     {% else %}                     <option value="الإبتدائية" >الإبتدائية </option> {% endif %}
{% if t =="الاستئناف" %}   <option value="الاستئناف" selected >الاستئناف </option>                {% else %}                     <option value="الاستئناف" >الاستئناف </option>{% endif %}
{% if t =="التعقيب" %}   <option value="التعقيب"selected >التعقيب </option>                 {% else %}                     <option value="التعقيب<" >التعقيب </option>{% endif %}
                             
                             </select>

						</div>
					</div>
				
    
  

					<div class="col-md-2 " id="custom-search-input">
					    <div class="input-group">
		<select name="Gouvernorat"  id="Gouvernorat" class="search-drop-avo " required >
{% if g =="" %} <option value="" selected > </option>			               {% else %} <option value="" >الولاية </option>{% endif %}
{% if g =="تونس" %} <option value="تونس" selected >تونس </option>             {% else %} <option value="تونس" >تونس</option>{% endif %}
{% if g =="أريانة" %} <option value="أريانة" selected >أريانة </option>        {% else %} <option value="أريانة" >أريانة</option>{% endif %}
{% if g =="بن عروس" %} <option value="بن عروس" selected > بن عروس</option>     {% else %} <option value="بن عروس">بن عروس</option>{% endif %}
{% if g =="منوبة" %} <option value="منوبة" selected > منوبة</option>            {% else %} <option value="منوبة" >منوبة</option>{% endif %}
{% if g =="سوسة" %} <option value="سوسة" selected >سوسة </option>                {% else %} <option value="سوسة" >سوسة</option>{% endif %}
{% if g =="صفاقس" %} <option value="صفاقس" selected >صفاقس </option>             {% else %} <option value="صفاقس" >صفاقس</option>{% endif %}
{% if g =="قابس" %} <option value="قابس" selected >قابس </option>                 {% else %} <option value="قابس" >قابس</option>{% endif %}
{% if g =="مدنين" %} <option value="مدنين" selected >مدنين </option>              {% else %} <option value="مدنين" >مدنين</option>{% endif %}
{% if g =="المهدية" %} <option value="المهدية" selected >المهدية </option>        {% else %} <option value="المهدية" >المهدية</option>{% endif %}
{% if g =="باجة" %} <option value="باجة" selected >باجة </option>                  {% else %} <option value="باجة" >باجة</option>{% endif %}
{% if g =="بنزرت" %} <option value="بنزرت" selected > بنزرت</option>               {% else %} <option value="بنزرت" >بنزرت</option>{% endif %}
{% if g =="قفصة" %} <option value="قفصة" selected >قفصة </option>                   {% else %} <option value="قفصة" >قفصة</option>{% endif %}
{% if g =="جندوبة" %} <option value="جندوبة" selected >جندوبة </option>             {% else %} <option value="جندوبة" >جندوبة</option>{% endif %}
{% if g =="القيروان" %} <option value="القيروان" selected > القيروان</option>       {% else %} <option value="القيروان" >القيروان</option>{% endif %}
{% if g =="قصرين" %} <option value="قصرين" selected > قصرين</option>                 {% else %} <option value="قصرين" >قصرين</option>{% endif %}
{% if g =="الكاف" %} <option value="الكاف" selected >الكاف </option>                 {% else %} <option value="الكاف" >الكاف</option>{% endif %}
{% if g =="منستير" %} <option value="منستير" selected > منستير</option>              {% else %} <option value="منستير" >منستير</option>{% endif %}
{% if g =="نابل" %} <option value="نابل" selected > نابل</option>                     {% else %} <option value="نابل" >نابل </option>{% endif %}
{% if g =="سيدي بوزيد" %} <option value="سيدي بوزيد" selected > سيدي بوزيد</option>  {% else %} <option value="يدي بوزيد" >سيدي بوزيد</option>{% endif %}
{% if g =="سليانة" %} <option value="سليانة" selected >سليانة </option>               {% else %} <option value="سليانة" >سليانة</option>{% endif %}
{% if g =="تطاوين" %} <option value="تطاوين" selected > تطاوين</option>               {% else %} <option value="تطاوين" >تطاوين</option>{% endif %}
{% if g =="توزر" %} <option value="توزر" selected > توزر</option>                      {% else %} <option value="توزر" >توزر </option>{% endif %}
{% if g =="زغوان" %} <option value="زغوان" selected > زغوان</option>                   {% else %} <option value="زغوان" >زغوان</option>{% endif %}
{% if g =="قبلي" %} <option value="قبلي" selected >قبلي </option>                      {% else %} <option value="قبلي" >قبلي</option>{% endif %}
                             </select>

						</div>
					</div>

					<div class="col-md-5" id="custom-search-input">
						<div class="search_bar_list">
						    
						    <!--<input type="submit" value="بحث">-->
{% if str =="0" %}<input type="text" class="form-control" name="key"  placeholder="بحث" value="" id="searchKey" > {% else %}                         <input type="text" class="form-control" name="key"  placeholder="بحث" value="{{str}}" id="searchKey"> {% endif %}
                          <input type="submit" class="btn_search" value="بحث">
                          </div>
                         
					</div>
				</div>
				 </form>
				<!-- /row -->
				
			</div>
			
			<!-- /container -->
		</div>
				<div class="container margin_120_95">
						<div class="main_title_2">
<h1><strong> ارقام هواتف محامين في تونس</strong><br>ابحث على أفضل المحامين في تونس واحجز موعدك عبر الإنترنت</h1>
</div>
</div>
		</div>  
		<!-- /filters -->
		
		
		
		<div class="container" >


		<div id="renderAvocat">	
				<div class="col-lg-8">
<input type="hidden" name="" value="{{ListAvocat|length}}" id="id">
{% for key in ListAvocat %}

				
					<div class="strip_list" dir="rtl" onclick="location.href='/محامي/{{key.Nom_ar|replace( {' ':'-'})}}/{{key.id}}';" style="cursor: pointer;">
						<figure>
                        <img src="../assets/images/{{key.img_url}}" alt="{{key.Nom_ar}}"></figure>

						<small>{{key.Nom_fr}} </small>
                         <h3>{{key.Nom_ar}}</h3>

                         <ul>
							<li><a>الولاية </a></li>
							<li><p>{{key.Gouvernorat_ar}}</p></li>
							<li><a href="/محامي/{{key.Nom_ar|replace( {' ':'-'})}}/{{key.id}}/">إحجز موعد</a></li>
							
						</ul>

					</div>

					{% endfor %}
					</div>
					</div>
		</div>	
		
		
		
				
				
		
		
										<center><p class="btn_1 medium" onclick="showMoreAv()">تحميل المزيد</p></center><br>

			<!-- /row -->
		</div>


		<!-- /container -->
	</main>
	<!-- /main -->
	
	<!-- /Added by Ali -->
  	<script>
function showAvocat() {

	var str =  document.getElementById("searchKey").value ;
    var gov =  document.getElementById("Gouvernorat").value ;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("renderAvocat").innerHTML = this.responseText;
      }
    };
    xmlhttp.open("GET","renderAvocat.php?q="+str+"&g="+gov,true);
    xmlhttp.send();
  
}



function showMoreAv() {


	var id =  document.getElementById("id").value ;
	

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("renderAvocat").innerHTML =  this.responseText;
        document.getElementById("id").value=Number(document.getElementById("id").value);
      }
    };

    xmlhttp.open("GET","renderAvocat2/{{g}}/str={{str}},spec={{t}},num="+id,true);
    xmlhttp.send();
  
}

</script>


</body>
</html>
{% endblock %}