{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="ar">
    <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"BFDww1WyR620WR", domain:"avoconsulte.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=BFDww1WyR620WR" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
{% for key in Singleqr %}
<head>
    <!-- Hotjar Tracking Code for avoconsulte.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2449137,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2DZKVP');</script>
<!-- End Google Tag Manager -->
       <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LMEHPEJJCY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-LMEHPEJJCY');
</script>
<script data-ad-client="ca-pub-8304999942476168" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <base href="/">
    <?php header("Content-Type: text/html;charset=UTF-8"); ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="ابحث واعثر على أفضل المحامين في تونس واحجز موعدك عبر الإنترنت         <?php echo $key['keywords'] ?>">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ابحث واعثر على أفضل المحامين في تونس واحجز موعدك عبر الإنترنت <?php echo $key['titre'] ?>">
	<meta name="keywords" content="جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي, 
onat, onat tunisie, ordre des avocats, ordre national des avocats, الفرع الجهوي للمحامين بتونس ,المحاماة , ارقام هواتف محامين في تونس ,استشارات قانونية عقارية تونس , نور الدين بن عياد 
,استشارات قانونية في الطلاق تونس ,  avocats , avocat , Avocat Tunisie , Avocat En Tunisie ,
 Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avocat,
محامون ، محامي ، محام تونسي ، محامي تونس ، محكمة تونس ، محامي تونسي ، محامون تونس 
، نقابة المحامين التونسية 
، ديوان دافو ,جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي">
	<meta property="og:title" content="AvoConsulte.com : ابحث واعثر على أفضل محام في تونس واحجز موعدك عبر الإنترنت - avoconsulte.com" />
    <meta property="og:description" content="اعثر بسرعة على محامٍ أو كاتب عدل أو محضر بالقرب منك وحدد موعدًا مجانًا عبر الإنترنت ببضع نقرات! دليل المحامين التونسيين" />
    <meta property="og:type" content="website" />
	<meta name="author" content="Avoconsulte">
    <title> <?php echo $crud-> short_name($key['titre'] ,55) ?> | استشارات قانونية - AvoConsulte</title>
    <!-- Favicons-->
	<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">
    <!-- GOOGLE WEB FONT -->
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap' crossorigin="anonymous"/>    
	<!-- BASE CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="../css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link href="../css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link rel='preload'  as="font" href="../css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
    <link href="../css/blog.css" rel="stylesheet" media="print" onload="this.media='all'">
    <!-- SPECIFIC CSS -->
    <link href="../css/date_picker.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- YOUR CUSTOM CSS -->
	<link href="../css/custom.css" rel="stylesheet">
</head>
<body dir="rtl">
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
    <!-- 	<div id="preloader">
		<div data-loader="circle-side"></div>
	    </div> -->
    
         <header class="header_sticky">
		<div class="container" >
			<div class="row">
				<div class="col-lg-2 col-6">
					<div id="logo_home">
						<a href="/" title="AvoConsulte"></a>
					</div>
				</div>
				<nav class="col-lg-10 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>

					<div class="main-menu">
						<ul>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/" >الصفحة الرئيسية</a>
							</li>
                            <li class="submenu"  class="icon-down-open-mini">
								<a href="/استشارات-قانونية/" >استشارات قانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
									<a href="/المجلة-القانونية/">المجلة القانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/من-نحن/" >من نحن ؟</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/اتصل-بنا/" >اتصل بنا</a>
							</li>
							<li class="thin"  class="icon-down-open-mini">
							   <a href="#"  class="thin"  >  اللغة ▼</a>
  							<ul>
							 <li><a href="/fr/" >Français</a></li>
						     <li><a href="/" >العربية</a></li>
							</ul>
							</li>
							
						</ul>
						
					</div>
					
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->

	
<main>


		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="/"> الصفحة الرئيسية </a></li>
					<li><a href="/استشارات-قانونية/">استشارات قانونية</a></li>
					<li><?php echo  $key['titre'] ?></li>
				</ul>
			</div>
		</div>

		<div class="container margin_60">
			<div class="row">
			    <div class="col-lg-12">
                   <div class="bloglist singlepost">
						<h1>{{key.titre}}</h1>
						<div class="postmeta">

						</div>
						<!-- /post meta -->
						<div class="post-content">
							<div class="singlebox" >
							<p>{{key.question}}</p>
							</div>
                           <div class="avo-reponse">
                            <p>  تمت الإجابة على هذا السؤال من قبل:  <a href="/محامون/">مساعد Avo</a></
                            </div>
							<!--<a href="#"></a> -->


							<div class="singlebox" >
							<p>{{key.reponse}}</p>
							</div>

							
						</div>
						<!-- /post -->
					</div>
					                            <div class="widget">
						       <div class="widget-title">
							<h4>أحدث استشارة قانونية</h4>
						       </div>

						<ul class="comments-list">
                         {% for key in Listqr %}
							<li onclick="location.href='/استشارات-قانونية/{{key.id}}/{{key.titre|replace({' ': '-'})}}';"  style="cursor: pointer;" >
								<div class="alignleft">
                                 <img src="../img/question-mark-icon-help-symbol-260nw-400447213.jpg"
                                  alt="{{key.titre}}">
                                  </div>
								<small></small>
								<h3>{{key.titre}}</h3>
							</li>

							{% endfor %}
						</ul>
					</div>
	                  </div>
			    <aside class="col-lg-3">
   

					
				</aside> 
					</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
					{% endfor %}
	<!--/footer-->

	<!-- 	<div id="toTop"></div>
Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.min.js"></script>
	<script src="js/functions.js"></script>
{{form_start(form)}}
{{form_row(form.nom)}}
{{form_row(form.nom)}}
{{form_row(form.nom)}}
{{form_label(form.nom)}}
{{form_label(form.nom)}}
{{ form_end(form) }}
</body>
</html>
{% endblock %}