{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="ar">
    <!-- Hotjar Tracking Code for avoconsulte.com -->

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"BFDww1WyR620WR", domain:"avoconsulte.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=BFDww1WyR620WR" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
{% for key in AvocatData %}
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194184846-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-194184846-1');
</script>
<script data-ad-client="ca-pub-8304999942476168" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content=" صفحة المحام   {{key.nom_ar}} | {{key.gouvernorat_ar}} - Avoconsulte" />
    <meta property="og:description" content=" صفحة المحام  {{key.nom_ar}}" | "{{key.gouvernorat_ar}} - إتصل ب{{key.nom_ar}}  أو  خذ موعداً مجانا Avoconsulte - دليل المحامين التونسيين" />
    <meta property="og:type" content="website" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" صفحة المحام   {{key.nom_ar}}" | "{{key.gouvernorat_ar}} - إتصل ب{{key.nom_ar}}  أو  خذ موعداً مجانا Avoconsulte - دليل المحامين التونسيين">
<meta name="keywords" content="جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي, 
onat, onat tunisie, ordre des avocats, ordre national des avocats, الفرع الجهوي للمحامين بتونس ,المحاماة , ارقام هواتف محامين في تونس ,استشارات قانونية عقارية تونس , نور الدين بن عياد 
,استشارات قانونية في الطلاق تونس ,  avocats , avocat , Avocat Tunisie , Avocat En Tunisie ,
 Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avocat,
محامون ، محامي ، محام تونسي ، محامي تونس ، محكمة تونس ، محامي تونسي ، محامون تونس 
، نقابة المحامين التونسية 
، ديوان دافو ,جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي">	<meta name="author" content="Avoconsulte">
<title> صفحة المحام   {{key.nom_ar}} | {{key.gouvernorat_ar}} - Avoconsulte</title>
<!-- Favicons-->
	<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">
    
    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap" rel="stylesheet">	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link href="css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link rel='preload'  as="font" href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
    <!-- SPECIFIC CSS -->
    <link href="css/detail-page.css" rel="stylesheet">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- SPECIFIC CSS -->
</head>
	

<body dir="rtl">
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
    <!-- 	<div id="preloader">
		<div data-loader="circle-side"></div>
	    </div> -->
    
         <header class="header_sticky">
		<div class="container" >
			<div class="row">
				<div class="col-lg-2 col-6">
					<div id="logo_home">
						<a href="/" title="AvoConsulte"></a>
					</div>
				</div>
				<nav class="col-lg-10 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>

					<div class="main-menu">
						<ul>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/" >الصفحة الرئيسية</a>
							</li>
                            <li class="submenu"  class="icon-down-open-mini">
								<a href="/استشارات-قانونية/" >استشارات قانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
									<a href="/المجلة-القانونية/">المجلة القانونية</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/من-نحن/" >من نحن ؟</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/اتصل-بنا/" >اتصل بنا</a>
							</li>
							<li class="thin"  class="icon-down-open-mini">
							   <a href="#"  class="thin"  >  اللغة ▼</a>
  							<ul>
							 <li><a href="/fr/" >Français</a></li>
						     <li><a href="/" >العربية</a></li>
							</ul>
							</li>
							
						</ul>
						
					</div>
					
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->

	
	<main class="bg_color">
	    <div class="container margin_detail">
	        <div class="row single-page" >
	            <div class="col-xl-8 col-lg-7">
	                <div class="box_general">
	                    <div class="main_info_wrapper">
	                        <div class="main_info clearfix">
	                            <div class="user_thumb" dir="rtl">
	                                <figure><img src="../assets/images/{{key.img_url}}" alt="{{key.nom_ar}}"></figure>
	                                <em class="online"><span></span>تم التحقق منه</em>
	                            </div>
	                            <div class="user_desc">
                                    <h1> صفحة المحامي {{key.nom_ar}}</h1>
                                    <p>{{key.adresse_ar}}</p>
	                                <ul class="tags">
	                                    <li><a>{{key.nom_fr}}</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <!-- /main_info_wrapper -->
	                        <hr>
                            <h4>معلومات إضافية عن {{key.nom_ar}}</h4>
                            <p>غير متوفره.</p>
                            <br>
                            <h4>ماهي افوكنسلت؟</h4>
                            <p>افوكنسلت هي عبارة عن منصة مبتكرة تتيح لك العثور بسرعة على محامٍ  الأقرب إليك وتحديد موعد عبر الإنترنت مجانًا.افوكنسلت يسمح لك بطرح أسئلتك عبر الإنترنت مباشرة على المحامين مع احترام شروط السرية.</p>
	                    </div>
	                    <!-- /main_info -->
	                </div>
	                <!-- /box_general -->
	            </div>
	            <!-- /col -->
	            <div class="col-xl-4 col-lg-5" id="sc">
	                <div class="box_booking">
	                    <div class="head">
                        <h3>هل تريد الإتصل ب<?php echo $key['Nom_ar'] ?>  ؟</h3>
                        </div>
	                    <div class="main" >

	                        <a id="myBtn" class="btn_12 full-width">انقر لعرض رقم الهاتف</a></br>
	                        <a class="btn_11 full-width">إحجز موعد</a><br>
	                        <div class="msg">
                              <h4><strong>هل أنت محامٍ ؟</strong><br><a href="https://avoconsulte.com/%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7/"> هل تريد تصحيح معلومات أو أن تكون في المنصة ؟  </a></h4>                     
                            </div>
	                    </div>
	                </div>
	                <!-- /box_booking -->
	                <div id="myBtn2" class="btn_reserve_fixed"><a  class="btn_12 full-width">انقر لعرض رقم الهاتف</a></div>
					<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mobile_fixed popup_num" id="sidebar_fixed">
  	<br>
<center><strong>أرقام الهاتف</strong></center></br>
<center><p class="">الهاتف القار :<?php if($key['Telephone'] == "NULL"){echo" Indisponible  ";}else { echo $key['Telephone']; } ?></p></center></br>
    <center><p class="">الهاتف الجوال :<?php if($key['Mobile'] == "NULL"){echo" غير متوفر ";}else { echo $key['Mobile']; } ?></p></center>
<center><div class="text-center close"><a class="btn_1 outline">اغلاق</a></div></center>
  </div>

</div>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
</div>

	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</main>
	<!-- /main -->
{% endfor %}

	

   
</body>
</html>
{% endblock %}